.auth-container {
  display: flex;
  height: 97vh;
  width: 150vh;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-left: 15%;
  margin-top: 20px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.auth-left {
  flex: 1;
  background: linear-gradient(to bottom right, #ed1c24 ,#a4a4a4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.auth-left h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.ghost-btn {
  border: 2px solid white;
  background: transparent;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ghost-btn:hover {
  background-color: white;
  color: #ff4b2b;
}

.auth-right {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.logo img {
  width: 150px;
  margin-bottom: 20px;
}

.auth-right h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.role-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.role-btn {
  background-color: #ed1c24;
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.role-btn.active,
.role-btn:hover {
  background-color: #8e8d8fac;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 20px;
  width: 100%;
  max-width: 600px;
}

.form-grid input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

.submit-btn {
  grid-column: span 2;
  margin-top: 20px;
  padding: 12px;
  background-color: #ed1c24;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
