* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}

.dashboard {
  display: flex;
  height: 150vh;
}

.sidebar {
  width: 220px;
  background-color: #354e70;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: block;
  transition: background 0.3s;
  text-align: center;
  margin-top: 10%;
}

.sidebar-nav a:hover {
  background-color: #374151;
}

.logout-btn {
width: 100%;
  margin-top: 250%;
  padding: 12px;
  background-color: #ed1c24;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.logout-btn:hover {
  background-color:#ed1c24;
}


.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.navbar {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.685);
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notifications {
  position: relative;
  font-size: 25px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
}


.content {
  padding: 30px;
}



